
.wrapper {
    position: absolute;
    top:30%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}



.letter {
    width: 48px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
}
.letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: white;
}

.letter:nth-child(1):before {
    content: "形计算器图计算机学习";
    margin-top: -48px;
    -webkit-animation-name: letter1;
    animation-name: letter1;
    -webkit-animation-duration: 1.99s;
    animation-duration: 1.99s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 48px;
    }
}

@keyframes letter1 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 48px;
    }
}
.letter:nth-child(2):before {
    content: "PL算rLvAlPEP";
    margin-top: -96px;
    -webkit-animation-name: letter2;
    animation-name: letter2;
    -webkit-animation-duration: 2.56s;
    animation-duration: 2.56s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 48px;
    }
}

@keyframes letter2 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 48px;
    }
}
.letter:nth-child(3):before {
    content: "器算机结构数据图形";
    margin-top: -120px;
    -webkit-animation-name: letter3;
    animation-name: letter3;
    -webkit-animation-duration: 1.82s;
    animation-duration: 1.82s;
    -webkit-animation-delay: 0.48s;
    animation-delay: 0.48s;
    -webkit-animation-fill-mode:  forwards;
    animation-fill-mode:  forwards;
}

@-webkit-keyframes letter3 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 48px;
    }
}

@keyframes letter3 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 48px;
    }
}
.letter:nth-child(4):before {
    content: "图王图杭国服金计算大容";
    margin-top: -24px;
    -webkit-animation-name: letter4;
    animation-name: letter4;
    -webkit-animation-duration: 1.96s;
    animation-duration: 1.96s;
    -webkit-animation-delay: 0.22s;
    animation-delay: 0.22s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
    from {
        margin-top: -24px;
    }
    to {
        margin-top: 48px;
    }
}

@keyframes letter4 {
    from {
        margin-top: -24px;
    }
    to {
        margin-top: 48px;
    }
}
.letter:nth-child(5):before {
    content: "JC语形HTML言S";
    margin-top: -120px;
    -webkit-animation-name: letter5;
    animation-name: letter5;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode:  forwards;
    animation-fill-mode:  forwards;
}

@-webkit-keyframes letter5 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 48px;
    }
}

@keyframes letter5 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 48px;
    }
}
.letter:nth-child(6):before {
    content: "HZNU57学7YYH";
    margin-top: -216px;
    -webkit-animation-name: letter6;
    animation-name: letter6;
    -webkit-animation-duration: 2.48s;
    animation-duration: 2.48s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 48px;
    }
}

@keyframes letter6 {
    from {
        margin-top: -216px;
    }
    to {
        margin-top: 48px;
    }
}
.progress-bar_wrap {
    width: 100%;
    height: 5px;
    background: #F6F6FA;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
}
.progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 33.3%;
    border-radius: 5px;
    float: left;

    -webkit-transition: background-color .2s, visisility .1s;

    transition: background-color .2s, visisility .1s;
}


.progress-bar_item-1.active {
    background-color: #FF4B47;
}

 .progress-bar_item-2.active {
    background-color: #F9AE35;
}

.progress-bar_item-3.active {
    background-color: #2DAF7D;
}
.split-line{
    border: 0.5px solid;
    margin-bottom: 10px;
}
.index-link:hover{
    text-decoration:underline;
}
.index-link{
    color:#565151
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 2em;
}

.list-group-item:hover {
    background:#C0C0C0;
}
@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
    position: relative;
    font-family: 'Oswald', sans-serif;
    background: #303F9F;
    color: #fff;
    font-size: 20px;
}

.grid {
    list-style: none;
    margin-left: -40px;
}

.gc {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 40px;
    vertical-align: top;
}

.gc--1-of-3 {
    width: 33.33333%;
}

.gc--2-of-3 {
    width: 66.66666%;
}

.naccs {
    position: relative;
    max-width: 900px;
    margin: 100px auto 0;
}

.naccs .menu div {
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    color: #303F9F;
    background: #3F51B5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 24px;
    left: 15px;
    background-color: #303F9F;
    border-radius: 100%;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
    background-color: #FBC02D;
    left: 0;
    height: 100%;
    width: 3px;
    top: 0;
    border-radius: 0;
}

.naccs .menu div.active {
    color: #FBC02D;
    padding: 15px 20px 15px 20px;
}

ul.nacc {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

ul.nacc li p {
    margin: 0;
}
img {
    cursor: pointer;
    transition: all 0.6s;
}
img:hover {
    transform: scale(1.4);
}